html,body {
	height: 100%;
	font-family: 'Akshar', sans-serif;
}
* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
.container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	
}
header {
	padding-top: 10px;
}
header h1 {
	font-size: 50px;
}
.main h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.main-top {
	display: flex;
	flex-direction: column;
}
.select {
	margin-bottom: 10px;
	display: block;
	flex-direction: row;
}
.select p {
	font-size: 20px;
	margin-bottom: 5px;
	display: block;
}
.select-radio {
	display: flex;
	margin-bottom: 10px;
}
.radios {
	margin-right: 30px;
}
.radios input {
	margin-right: 5px;
}
.textarea {
	display: flex;
	flex-direction: row;
}
textarea {
	resize: none;
	width: 300px;
	padding: 5px;
	margin-right: 5px;
}
select {
	width: 120px;
	height: 25px;
	font-weight: bold;
}
.btn {
	display: flex;
	margin-top: 10px;
	justify-content: center;
}
.button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}